<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<connectionStrings>
		<add name="connString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True" />
	</connectionStrings>

	<appSettings>
		<add key="SqlServerConnection" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True" />
	</appSettings>
</configuration>