@{
    ViewData["Title"] = "About";
}

<style>
    .jBackColor {
        background-color: lightgoldenrodyellow;
    }
</style>

<section class="jumbotron text-center ">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Title</h1>
        <p class="lead-text text-muted">@ViewBag.Message</p>
        <p>Using Entity Framework Core access a <a href="https://github.com/karenpayneoregon/class-data-scripts/blob/master/north2020.sql" target="_blank">NorthWind 2020 database</a> </p>
    </div>
</section>

<p>OED Code samples</p>